@model Models.LoginModel
@using Domain.Entities;
@using Manager.Application;
@using Infrastructure.CrossCutting;

@{
    ViewBag.Title = "Recuperar Constraseña";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@Constantes.EMPRESA.descriptor">
    <meta name="author" content="@Constantes.EMPRESA.SiglaEmpresa">
    <title>@Constantes.EMPRESA.titleAdmin</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/admin/all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/admin/sb-admin.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/img/icono-logo.png">
</head>

<body style="background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);">
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-lg-6">

                <div style="color:white;">
                    <div class="card-body p-0" style="background: none;">
                        <!-- Nested Row within Card Body -->
                        <div>
                            <div style="margin-left: auto;margin-right: auto;">
                                <div class="m-2 mt-5">
                                    <div class="text-center">
                                        <label class="h4 mb-2">Panel de Administración</label>
                                        <br />
                                        <label class="h6">Recuperar Contraseña</label>
                                    </div>

                                    
                                    @using (Html.BeginForm("resetPassword", "Admin",
                                new { tokenSecurity = ViewBag.tokenSecurity },
                                FormMethod.Post, htmlAttributes: new { @class = "user" }))
                                    {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               style="border:none;" name="Password" placeholder="Nueva Constraseña" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               style="border:none;" name="ConfirmPassword" placeholder="Confirmar Nueva Contraseña" required="required">
                                    </div>

                                    <input type="submit" value="Actualizar Contraseña" class="btn btn-success btn-user btn-block" />


                                    }
                                    <hr>

                                    <div class="text-center d-none">
                                        <a class="small" href="@Url.Action("login","Admin")">Login</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="mb-2 small">@Constantes.EMPRESA.piePagina</a><br />
                                        <img src="~/Content/img/icono-logo-220x240.png" style="height: 90px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery.easing.min.js"></script>
   
</body>

</html>

